<header class="mainheader">
  <p class="text-center"><img ng-src="assets/images/wab.png" alt="wabdesign" width="80"></p>
  <div ng-hide="header.home">
    <p class="h3">Jérôme Boileux</p>
    <p class="lead">Développeur front-end avec une forte sensibilité pour l’amélioration de l'expérience utilisateur.</p>
    <hr>
  </div>
</header>
<nav>
  <ul class="nav menu">
      <li class="nav-item"><a href="/" class="nav-link">welcome</a></li>
      <li class="nav-item"><a href="/competences" class="nav-link">compétences</a></li>
      <li class="nav-item"><a href="/experiences" class="nav-link">expériences</a></li>
      <li class="nav-item"><a href="/formation" class="nav-link">formations</a></li>
      <li class="nav-item"><a href="/references" class="nav-link">références</a></li>
  </ul>
  <hr>
  <ul class="nav nav-inline">
      <li class="nav-item"><a href="https://fr.linkedin.com/in/jeromeboileux" class="nav-link"><i class="fa fa-linkedin"></i></a></li>
      <li class="nav-item"><a href="http://twitter.com/wabdesign" class="nav-link"><i class="fa fa-twitter"></i></a></li>
      <li class="nav-item"><a href="http://github.com/wab" class="nav-link"><i class="fa fa-github"></i></a></li>
  </ul>
  <hr><p><small><i class="fa fa-file-pdf-o"></i> <a href="assets/pdf/resume-jeromeboileux.pdf" target="_self">Télécharger le pdf</a></small></p>
</nav>
